<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PAF-DAY26 View 1</title>
    </head>
    <body>
        <ul>
            <li data-th-each="g : ${genres}">
                <a data-th-href="@{'genre/'+${g}}">
                    <span data-th-text="${g}"></span>
                </a>
            </li>
        </ul>
    </body>
</html>
