<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAF-DAY26 View 2</title>
</head>
<body>
    <h1 data-th-text="${filterTerm}"></h1>

    <table border="1">
        <tr data-th-each="show : ${tvshows}">
            <div data-th-object="${show}">
                <td data-th-text="*{id}"></td>
                <td>
                    <a data-th-href="*{url}">
                        <span data-th-text="*{name}"></span>
                    </a>
                </td>
                <td data-th-text="*{rating}"></td>
            </div>
        </tr>
    </table>
</body>
</html>